
config general
	option dialect 'auto'
	option log_mode 'always'
	option log_level 'info'
	option log_dir '/var/log/mavlink-router'
	option port '5790'
	option stats '0'
	option master 'udp'
	option mport '24550'
	option address '0.0.0.0'

config udpendpoint
	option port '14550'
	option mode 'normal'
	option name 'udp1'
	option address '127.0.0.1'
